﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JAdmin Interface</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/AdminPage.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>




                @Html.ActionLink("Jathwa", "Index", "AdminHome", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <!-- uncomment code for absolute positioning tweek see top comment in css -->
            <!-- <div class="absolute-wrapper"> </div> -->
            <!-- Menu -->
            <div class="side-menu">

                <nav class="navbar navbar-default" role="navigation" style="margin-top:40px">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl1">
                                    <img src="~/Content/themes/base/images/sidebar_client_icon.png" width="20" height="20" style="margin-right:15px"> <b>
    Manage Clients</b>
    <span class="caret" style="margin-left:15px"></span>
</a>
                                <div id="dropdown-lvl1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav ">

                                            <li>
                                                <a href="~/ManageClient/ClientsExplorer">
                                                    <img src="~/Content/themes/base/images/sidebar_explore_icon.png" width="15" height="15" style="margin-right:15px"> Clients Explorer
                                                   
                                                </a>
                                            </li>

                                            <li>
                                                <a href="~/ClientHome/Create">
                                                    <img src="~/Content/themes/base/images/sidebar_plus_sign_icon.png" width="15" height="15" style="margin-right:15px"> Create Client
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/ManageClient/DemoRequests">
                                                    <img src="~/Content/themes/base/images/sidebar_pending_requests_icon.png" width="15" height="15" style="margin-right:15px"> Demo Requests
                                                </a>
                                            </li>
                                            <!-- Dropdown level 2 -->
                                            <li class="panel panel-default" id="dropdown">
                                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                                    <img src="~/Content/themes/base/images/sidebar_explore_icon.png" width="15" height="15" style="margin-right:15px"> Clients Monitoring
                                                    <span class="caret"></span>
                                                </a>
                                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="nav navbar-nav">
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>


                                            <li class="panel panel-default" id="dropdown">
                                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                                    <img src="~/Content/themes/base/images/sidebar_client_billing.png" width="15" height="15" style="margin-right:15px">Manage Client Billing
                                                    <span class="caret"></span>
                                                </a>
                                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="nav navbar-nav">
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-manage-agents">
                                    <img src="~/Content/themes/base/images/sidebar_agent_icon.png" width="20" height="20" style="margin-right:15px;"> <b>Manage Agents</b>
                                    <span class="caret" style="margin-left:15px"></span>
                                </a>

                                <div id="dropdown-manage-agents" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="~/RegisteredAgentsList/ActiveAgents">
                                                    <img src="~/Content/themes/base/images/sidebar_explore_icon.png" width="15" height="15" style="margin-right:15px"> Active Agents Explorer

                                                </a>
                                            </li>

                                            <li class="panel panel-default" id="dropdown">
                                                <a data-toggle="collapse" href="#dropdown-agent-interview">
                                                    <img src="~/Content/themes/base/images/sidebar_client_billing.png" width="15" height="15" style="margin-right:15px"> Agent Interview
                                                    <span class="caret"></span>
                                                </a>

                                                <div id="dropdown-agent-interview" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="nav navbar-nav">
                                                            <li>
                                                                <a href="~/RegisteredAgentsList/CandidateAgents">
                                                                    <img src="~/Content/themes/base/images/sidebar_explore_icon.png" width="15" height="15" style="margin-right:15px"> Candidate Agents

                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="~/RegisteredAgentsList/RejectedAgents">
                                                                    <img src="~/Content/themes/base/images/sidebar_explore_icon.png" width="15" height="15" style="margin-right:15px"> Rejected Agents

                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="panel panel-default" id="dropdown">
                                                <a data-toggle="collapse" href="#dropdown-agent-training">
                                                    <img src="~/Content/themes/base/images/sidebar_client_billing.png" width="15" height="15" style="margin-right:15px"> Agent Training
                                                    <span class="caret"></span>
                                                </a>

                                                <div id="dropdown-agent-training" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="nav navbar-nav">
                                                            <li>
                                                                <a href="~/RegisteredAgentsList/TrainingAgents">
                                                                    <img src="~/Content/themes/base/images/sidebar_explore_icon.png" width="15" height="15" style="margin-right:15px"> In-Training Agents

                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>


                            <li><a href="#"><img src="~/Content/themes/base/images/sidebar_settings_icon.png" width="20" height="20" style="margin-right:15px"> <b>Configurations</b></a></li>
                            <li><a href="#"><img src="~/Content/themes/base/images/sidebar_dashboard_icon.png" width="20" height="20" style="margin-right:15px"> <b>Admin Dashboard</b></a></li>


                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body" style="margin-top:50px">
                    @RenderBody()
                </div>
            </div>
        </div>


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jathwa Ltd.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/JAdmin")
    @RenderSection("scripts", required: false)

</body>
</html>







<script src="~/Scripts/AdminPage.js"></script>