﻿@using PagedList;

@using PagedList.Mvc;

@model IPagedList <JAdminInterface.Models.UCCEntities.DEF_CUSTOMERS>

@{
    ViewBag.Title = "ClientsExplorer";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b style="font-size:larger">Clients Explorer</b></div>

    <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>

                <th>Name</th>
                <th>Mobile</th>
                <th>Website</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {

                    using (Html.BeginForm("Details", "ClientHome", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <tr>
                            <th scope="row">@i</th>

                            <td>@item.Name</td>
                            <td>@item.Mobile</td>
                            <td>@item.Website</td>
                            <td>@item.Email</td>
                            <td>@item.CUSTOMER_STATUS.CustomerStatusName</td>

                            <input type="hidden" value="@item.ID" name="id" />

                            <td><input type="submit" value="Go" id="@item.ID" name="edit" class="btn btn-default"></td>
                        </tr>


                    }

                    i++;
                }

            }
        </tbody>
    </table>




</div>


<div style="text-align:center">
    @Html.PagedListPager(Model, pageNumber => Url.Action("ClientsExplorer", new
    {
        pageNumber
    }))

</div>

