﻿@using PagedList;

@using PagedList.Mvc;

@model IPagedList<JAdminInterface.Models.UCCEntities.sp_cc_requests_Result>

@{
    ViewBag.Title = "DemoRequests";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

@{

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><b style="font-size:larger">Clients Demo Requests</b></div>

        <div class="panel-body">
            <!-- Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>

                        <th>Client Name</th>
                        <th>Requestor Email</th>
                        <th>Requestor Phone</th>
                        <th>Package</th>
                        <th>Request Status</th>
                        <th>Request Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                int i = 1;
                foreach (var item in Model)
                {

                    using (Html.BeginForm("ManageDemoRequest", "ManageClient", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <tr>
                            <th scope="row">@i</th>

                            <td>@item.CustomerName</td>
                            <td>@item.CustomerEmail</td>
                            <td>@item.CustomerPhone</td>
                            <td>@item.PackageName</td>
                            <td>@item.DemoRequestStatusName</td>
                            <td>@item.Request_DateTime</td>
                            <input type="hidden" value="@item.REQUEST_ID" name="DemoRequestID" />
                            <input type="hidden" value="@item.CustomerID" name="CustomerID" />
                            <td><input type="submit" value="Edit" id="@item.REQUEST_ID" name="edit" class="btn btn-default"></td>
                        </tr>


            }

            i++;
        }

                    }
                </tbody>
            </table>


            </div>

    </div>
            }

            <div style="text-align:center">
                @Html.PagedListPager(Model, pageNumber => Url.Action("DemoRequests", new
        {
            pageNumber
        }))

            </div>
