﻿@model IEnumerable<JAdminInterface.Models.UCCEntities.DEF_CC>




<div id="CallCenterRegion" hidden style="display: none;">

    <div class="progress" style="height: 2px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated client_cc_progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
    </div>

    <div class="panel-group create_call_center_panel" id="accordion">
        <div class="panel panel-info" style="margin-top:10px">

            <div class="panel-heading" style="font-weight:bold">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo"
                       href="#collapseTwo">
                        Call Center Details
                    </a>
                </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-horizontal" style="margin-top:20px">

                        <input type="hidden" id="CustomerId" name="CustomerId" value="@ViewData["CustomerID"]">
                        <input type="hidden" id="CC_ID" name="CC_ID" value="@(Model.Count() == 0 ? -1 : Model.FirstOrDefault().ID)">

                        <div class="form-group">

                            <label class="control-label col-md-2">Name</label>

                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="CallCenterName" name="CallCenterName" type="text" value="@(Model.Count() == 0 ? "" : Model.FirstOrDefault().Name)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Package</label>
                            <div class="col-md-10">
                                @Html.DropDownList("DEF_JPACKAGES", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2">DID</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="DID" name="DID" type="text" value="@(Model.Count() == 0 ? "" : Model.FirstOrDefault().DID)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Industry</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Industry", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-2">Type of Service</label>
                            <div class="col-md-10">
                                @Html.DropDownList("TOS", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2">Further Details</label>
                            <div class="col-md-10">

                                    <textarea cols="20" htmlAttributes="{ class = form-control }" id="FurtherDetails" name="FurtherDetails" rows="2">@(Model.Count() == 0 ? "" : Model.FirstOrDefault().FurtherDetails)</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" value="Save" class="createCallCenterSubmit btn btn-primary" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="skillsRegion" style="display: none;">
        @{

            List<JAdminInterface.Models.UCCViewModels.DefSkillsSelectItem> skills = ViewBag.Skills;

            string[] skillCategories = { "Industry", "Language", "Gender", "Nationality" };

            foreach (string cat in skillCategories)
            {
                List<JAdminInterface.Models.UCCViewModels.DefSkillsSelectItem> skillCat = skills.Where(s => s.CategoryName.Equals(cat)).ToList();

                <div class="panel-group call_center_skills_panel" id="accordion" style="margin-top:10px">

                    <div class="panel panel-info">

                        <div class="panel-heading" style="font-weight:bold">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseThree"
                                   href="#collapseThree">
                                    Call Center Skills (@cat)
                                </a>
                            </h4>
                        </div>


                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">


                                <table class="table table-wrapper-2 table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Skill</th>
                                            <th scope="col">Include</th>
                                            <th scope="col">Is Mandatory</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (JAdminInterface.Models.UCCViewModels.DefSkillsSelectItem skill in skillCat)
                                        {
                                            <tr>
                                                <td>@skill.SkillName</td>

                                                <td>
                                                    <input type="checkbox"
                                                           name="selectedSkills"
                                                           id="@cat"
                                                           value="@skill.ID"
                                                           @(Html.Raw(skill.isChecked ? "checked" : "")) />

                                                </td>
                                                <td>
                                                    <input type="checkbox"
                                                           name="mandatorySkills"
                                                           id="@cat"
                                                           value="@skill.ID"
                                                           @(Html.Raw(skill.isChecked ? "checked" : "")) />

                                                </td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>





                            </div>
                        </div>

                    </div>


                </div>



            }

            <div class="form-group">
                <div class="col-md-offset-0 col-md-0">
                    <input type="button" value="Save" class="editCallCenterSkillsSubmit btn btn-primary" />
                </div>
            </div>
        }
    </div>

    <div class="panel-group matching_criteria_preferences_panel" id="accordion" style="margin-top:10px;display: none;">
        <div class="panel panel-info">

            <div class="panel-heading" style="font-weight:bold">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseFour"
                       href="#collapseFour">
                        Matching Criteria Preferences
                    </a>
                </h4>

            </div>

            <div id="collapseFour" class="panel-collapse collapse in">
                <div class="panel-body">


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Filter By</th>
                                <th scope="col">Sort Type</th>
                                <th scope="col">Weight</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Agent Rating</td>
                                <td>
                                    <select class="form-control" id="AgentRatingSelect">
                                        <option value="+">Ascending</option>
                                        <option value="-">Descending</option>
                                    </select>
                                </td>
                                <td><input type="number" max="10" min="1" value="5" class="form-control" id="AgentRatingWeight"></td>
                            </tr>

                            <tr>
                                <td>Handling Time</td>
                                <td>
                                    <select class="form-control" id="HandlingTimeSelect">
                                        <option value="+">Ascending</option>
                                        <option value="-">Descending</option>
                                    </select>
                                </td>
                                <td><input type="number" max="10" min="1" value="5" class="form-control" id="HandlingTimeWeight"></td>
                            </tr>

                            <tr>
                                <td>Agent Score</td>
                                <td>
                                    <select class="form-control" id="AgentScoreSelect">
                                        <option value="+">Ascending</option>
                                        <option value="-">Descending</option>
                                    </select>
                                </td>
                                <td><input type="number" max="10" min="1" value="5" class="form-control" id="AgentScoreWeight"> </td>
                            </tr>

                            <tr>
                                <td>Optional Skills</td>
                                <td>
                                    <select class="form-control" id="OptionalSkillsSelect">
                                        <option value="+">Ascending</option>
                                        <option value="-">Descending</option>
                                    </select>
                                </td>
                                <td><input type="number" max="10" min="1" value="5" class="form-control" id="OptionalSkillsWeight"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col-md-offset-0 col-md-0">
                            <input type="button" value="Save" class="matchingCriteriaPreferencesSubmit btn btn-primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <div style="display: block;margin-left: auto;margin-right: auto; width: 50%;display: none;" class="sucessConfirmationRegion">
        <div style="width:200px;display: block;margin-left: auto;margin-right: auto;margin-top: 100px;">
            <img src="~/Content/themes/base/images/ok.png" width="200" height="200">
        </div>

        <div style="text-align:center;margin-top:40px">
            <p style="font-size:x-large;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Call center created successfully</p>
        </div>


        <div style="text-align:center;margin-top:5px">
            <button type="button" value="View Details" class="btn btn-info">
                View Details
            </button>
            <input type="button" value="Create Another Call Center" class="btn btn-success" style="margin-left:10px" />
        </div>

    </div>

</div>

