﻿@model JAdminInterface.Models.UCCEntities.DEMO_REQUESTS

@{
    ViewBag.Title = "ManageDemoRequest";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<input type="hidden" id="DemoRequestID" name="DemoRequestID" value="@Model.ID">

<div class="main">
    <h2>Manage Demo Request</h2>

    <div class="panel-group create_customer_record_panel" id="accordion">
        <div class="panel panel-info" style="margin-top:10px">

            <div class="panel-heading" style="font-weight:bold">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo"
                       href="#collapseTwo">
                        Customer Details
                    </a>
                </h4>
            </div>


            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body" style="padding-top:20px">
                    
                    @Html.Partial("EditClientInfoPartialView", Model.DEF_CUSTOMERS)

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Save" class="editCustomerDetailsSubmit btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @Html.Partial("EditCallCenter", Model.DEF_CC)



</div>


