﻿
@{
    ViewBag.Title = "ManageClientHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make a selection</h2>




<div class="row" style="margin-top:50px">


    <div class="col-sm-3  col-xs-6 ">
        <div class="AdminWelcomeTile lg">
            <a href="~/ManageClient/Create"><img src="~/Content/themes/base/images/admin_home/manage-clients.png" title=" Create New Client" class="img-responsive center-block AdminTileImg" /></a>
            <div class="img_title one">
                Create New Client
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class="AdminWelcomeTile">
            <a href="~/ManageClient/DemoRequests"><img src="~/Content/themes/base/images/admin_home/manage-agents.png" title="Demo Requests" class="img-responsive center-block AdminTileImg" /></a>
            <div class="img_title two">
                Demo Requests
            </div>
        </div>
    </div>

</div>