﻿@model JAdminInterface.Models.UCCEntities.DEMO_REQUESTS

@{
    ViewBag.Title = "ManageDemoRequest";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<h2>Manage Demo Request</h2>

<div>

    <hr/>
    <b style="font-size:larger">Client Information</b>
    <hr/>

    <dl class="dl-horizontal">
        <dt>
            Email Address
        </dt>

        <dt>
            Request Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_DateTime)
        </dd>

        <dt>
            Requested Package
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEF_JPACKAGES.Name)
        </dd>

    </dl>



</div>


<hr/>


<div class="form-group" style="margin-bottom:50px">
    <div class="col-md-8">


        @using (Html.BeginForm("ManageDemoRequest", "ManageClient", FormMethod.Get))
        {
        @Html.AntiForgeryToken()

        <input type="hidden" id="CustomerId" value=@Model.DEF_CUSTOMERS.ID name="CustomerId">
        <button type="submit" class="btn btn-default">Manage Client Call Centers</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editCustomerDetailsModal">Edit Client Information</button>
}
    </div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="editCustomerDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h5 class="modal-title" id="exampleModalLabel">Update Client Details</h5>

                </div>
                <div class="modal-body">
                    @Html.Partial("EditClientInfoPartialView", Model.DEF_CUSTOMERS)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="editClientSubmitBTN" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

<hr />