﻿@model JAdminInterface.Models.UCCEntities.DEMO_REQUESTS

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<h2>Test</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h2>Manage Client Call Center</h2>

    <div class="progress" style="height: 2px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated client_cc_progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
    </div>


    <div class="panel-group create_customer_record_panel" id="accordion">
        <div class="panel panel-info" style="margin-top:10px">

            <div class="panel-heading" style="font-weight:bold">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo"
                       href="#collapseTwo">
                        Edit Customer
                    </a>
                </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    @{
                        int cID = 1;
                        /*JAdminInterface.Models.UCCEntities.UCCEntities db = new JAdminInterface.Models.UCCEntities.UCCEntities();
                        JAdminInterface.Models.UCCEntities.DEF_CUSTOMERS dEF_CUSTOMER = db.DEF_CUSTOMERS.SingleOrDefault(c => c.ID == cID);
                        @Html.Partial("EditClientInfoPartialView", dEF_CUSTOMER)*/
                    }


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Save" class="editCustomerDetailsSubmit btn btn-primary" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="panel-group create_call_center_panel" id="accordion">
        <div class="panel panel-info" style="margin-top:10px">

            <div class="panel-heading" style="font-weight:bold">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo"
                       href="#collapseTwo">
                        Call Center Details
                    </a>
                </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-horizontal" style="margin-top:20px">

                        <input type="hidden" id="CustomerId" name="CustomerId" value="@ViewData["CustomerID"]">
                        <input type="hidden" id="CC_ID" name="CC_ID" value="@(Model.DEF_CC.Count() == 0 ? -1 : Model.DEF_CC.FirstOrDefault().ID)">

                        <div class="form-group">

                            <label class="control-label col-md-2">Name</label>

                           
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Package</label>
                            <div class="col-md-10">
                                @Html.DropDownList("DEF_JPACKAGES", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2">DID</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="DID" name="DID" type="text" value="@Model.DEF_CC.FirstOrDefault().DID" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Industry</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Industry", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-2">Type of Service</label>
                            <div class="col-md-10">
                                @Html.DropDownList("TOS", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2">Further Details</label>
                            <div class="col-md-10">

                                <textarea cols="20" htmlAttributes="{ class = form-control }" id="FurtherDetails" name="FurtherDetails" rows="2">@Model.DEF_CC.FirstOrDefault().FurtherDetails</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" value="Save" class="createCallCenterSubmit btn btn-primary" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



}