﻿

.tile {
    height: 200px;
    width: 200px;
    overflow: hidden;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-size: 200px 200px;
}



.caption {
    background-color: rgba(50,50,50,0.4);
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    margin: 150px 0px 0px 0px;
    height: 200px;
    width: 200px;
}



    .caption:hover {
        transition: margin .5s;
        margin: 0px 0px 20px 0px;
        background-color: rgba(50,50,50,0.4);
        cursor: pointer;
    }



#description {
    overflow: hidden;
    margin: 25px 0px 0px 0px;
}




.AdminWelcomeTile {
    margin-bottom: 20px;
    position: relative;
}


.AdminTileImg {
    border: 1px solid #d0d0d0;
    padding: 3px;
    box-shadow: 2px 2px #8a7f98, 3px 3px #c7a9ef, 4px 4px #b0a1bd, -2px -2px #806698;
    border-radius: 1px;
    transition: .9s;
    width: 200px;
    height: 200px;
}

.img_title {
    position: absolute;
    top: 0;
    left: 20%;
    color: Black;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    text-align: center;
    font-family: Calibri;
    font-size: large;
  
}



.table-wrapper-2 {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


.table > thead > tr > th {
   
    border-bottom: 0;
}

.table > tbody > tr > td {
    border-right: 1px solid #ddd;
}

.table > thead > tr > th:last-of-type {
    border-right: 0px;
}

.table > tbody > tr > td:last-of-type {
    border-right: 0px;
}

.panel-body {
    padding: 0;
}

    .panel-body > .table {
        margin-bottom: 0px;
    }