﻿@using PagedList;

@using PagedList.Mvc;

@model IPagedList <JAdminInterface.Models.UCCEntities.DEF_CC>


<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Package</th>
            <th>DID</th>
            <th>Industry</th>
            <th>Type of Service</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;

            foreach (var item in Model)
            {

                using (Html.BeginForm("EditCallCenter", "CallCenters", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()
                    <tr>
                        <th scope="row">@i</th>

                        <td>@item.Name</td>
                        <td>@item.DEF_JPACKAGES.Name</td>
                        <td>@item.DID</td>
                        <td>@item.Industry</td>
                        <td>@item.CC_TOS.TOS_NAME</td>
                        <input type="hidden" value="@item.ID" name="ccID" />
                        <td><input type="submit" value="Edit" id="@item.ID" name="edit" class="btn btn-default"></td>
                    </tr>


                }

                i++;
            }

        }
    </tbody>
</table>

<div style="text-align:center">
    @Html.PagedListPager(Model, pageNumber => Url.Action("AgentCallCentersList", new
    {
        pageNumber
    }))

</div>