﻿@using JAdminInterface.Models.UCCEntities
@using JAdminInterface.Models
@using PagedList;

@using PagedList.Mvc;
@model JAdminInterface.Models.UCCEntities.DEF_CUSTOMERS


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b style="font-size:larger">Basic Information</b></div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_STATUS.CustomerStatusName)
        </dd>

    </dl>
</div>




<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b style="font-size:larger">Call Centers List</b></div>
    <br />
    @{
        var ccList = Model.DEF_CC.ToList().ToPagedList(1, 8);
        @Html.Partial("CallCentersListPartialView", ccList);
    }

    @using (Html.BeginForm("EditCallCenter", "CallCenters", FormMethod.Get))
    {

    <div style="text-align:center;margin-top:10px">
        <input type="hidden" value="-1" name="ccID" />
        <input type="hidden" value="@Model.ID" name="CustomerID" id="CustomerId"/>
        <input type="submit" value="Create New Call Center" class="btn btn-success" style="margin-left:10px;margin-bottom:10px" />
    </div>
    }





    </div>

