﻿@using PagedList;

@using PagedList.Mvc;
@model IPagedList<JAdminInterface.Models.UCCEntities.sp_active_agents_Result>

@{
    ViewBag.Title = "ActiveAgents";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b style="font-size:larger">Active Agents</b></div>

    <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Agent ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>

                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentEmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentPhoneNumber)
                </td>

                <td>
                    @Html.ActionLink("View Details", "ViewAgentInterview", new { AgentID = item.AgentID })

                </td>
            </tr>
    }

        </tbody>
    </table>
</div>


<br>

<div style="text-align:center">
    @Html.PagedListPager(Model, pageNumber => Url.Action("ActiveAgents", new
    {
        pageNumber
    }))

</div>
