﻿
@{
    ViewBag.Title = "AdminWelcomePage";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<h2>Jathwa Admin Control Panel</h2>



<br><br><br>

<div class="container" style="margin-top:150px">
    <div class="row">
        <div class="col-sm-3  col-xs-6 ">
            <div class="AdminWelcomeTile lg">
                <a href="~/RegisteredAgentsList/ActiveAgents"><img src="~/Content/themes/base/images/active.png" title="Active Agents" class="img-responsive center-block AdminTileImg" /></a>
                <div class="img_title one">
                    Active Agents
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="AdminWelcomeTile">
                <a href="~/RegisteredAgentsList/CandidateAgents"><img src="~/Content/themes/base/images/candidate.png" title="Candidate Agents" class="img-responsive center-block AdminTileImg" /></a>
                <div class="img_title two">
                    Candidate Agents
                </div>
            </div>
        </div>

        <div class="col-sm-3  col-xs-6">
            <div class="AdminWelcomeTile">
                <a href="~/RegisteredAgentsList/TrainingAgents"><img src="~/Content/themes/base/images/in-training.png" title="In-Training Agents" class="img-responsive center-block AdminTileImg" /></a>
                <div class="img_title three">
                    Training Agents
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="AdminWelcomeTile">
                <a href="~/RegisteredAgentsList/RejectedAgents"><img src="~/Content/themes/base/images/rejected.png" title="Rejected Agents" class="img-responsive center-block AdminTileImg" /></a>
                <div class="img_title four">
                    Rejected Agents
                </div>
            </div>
        </div>

    </div>
</div>


</div>
