﻿@model JAdminInterface.Models.UCCEntities.AGENT_INTERVIEW


@{
    ViewBag.Title = "AssignCallCenters";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<h2>Assign Call Centers</h2>

<div>

    <h4>Agent Interview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Agent Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEF_AGENT.Name)
        </dd>

        
      

        <dt>
            Interview Comments
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterviewComments)
        </dd>

        <dt>
            Interview Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGENT_INTERVIEW_STATUSES.InterviewStatusName)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>



    </dl>


    <br/><br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("InterviewID", Model.Id)

        <div class="form-group">
            <table class="table">
                <tr>
                    <th>
                        DID
                    </th>
                    <th>
                        Industry
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Allocated Agents
                    </th>
                    <th>
                        Assign
                    </th>
                </tr>



                @foreach (JAdminInterface.Models.UCCEntities.DEF_CC call_center in ViewBag.CC_LIST)
                {
                <tr>
                    <td>
                        @call_center.DID
                    </td>
                    <td>
                        @call_center.DEF_SKILLS.Name
                    </td>
                    <td>
                        @call_center.DEF_CUSTOMERS.Name
                    </td>
                    <td>
                        @call_center.AGENT_CALL_CENTERS.Count
                    </td>



                    <td>

                        <input type="checkbox"
                               name="call_centers_checkbox"
                               value="@call_center.ID" class="form-group" />


                    </td>
                </tr>

                }
            </table>


            <div class="form-group">
                <div >
                    <input type="submit" value="Proceed" class="btn btn-success" />
                </div>
            </div>
        </div>




    }

</div>
