﻿@using PagedList;

@using PagedList.Mvc;
@model IPagedList<JAdminInterface.Models.UCCEntities.sp_candidate_agents_Result>

@{
    /**/

    ViewBag.Title = "CandidateAgents";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><b style="font-size:larger">Candidate Agents</b></div>

    <div class="panel-body">

        <!-- Table -->
        <table class="table table-striped">
            <thead>


                <tr>
                    <th class="block">
                        Agent ID
                    </th>
                    <th class="block">
                        Name
                    </th>

                    <th class="block">
                        Interview Status
                    </th>

                    <th class="block">
                        Schedule By
                    </th>

                    <th class="block">
                        Schedule To
                    </th>
                    <th class="block">
                        Schedule Date
                    </th>
                    <th>Action</th>
                    <th>Action2</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AgentID)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AgentPhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InterviewStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScheduledByUserName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ScheduledToUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScheduleDate)
                        </td>


                        <td>

                            @if (item.InterviewStatus.Equals("Accepted") || item.InterviewStatus.Equals("Rejected"))
                            {
                                @Html.ActionLink("View Details", "ViewAgentInterview", new { AgentID = item.AgentID })
                            }
                            else if (item.InterviewStatus.Equals("Scheduled"))
                            {
                                @Html.ActionLink("Reschedule Interview", "ScheduleAgentInterview", new { AgentID = item.AgentID })
                            }
                            else if (item.InterviewStatus.Equals("Initiated"))
                            {
                                @Html.ActionLink("Schedule Interview", "ScheduleAgentInterview", new { AgentID = item.AgentID })
                            }




                        </td>
                        @if (!item.InterviewStatus.Equals("Accepted") & !item.InterviewStatus.Equals("Rejected"))
                        {
                            <td>
                                @Html.ActionLink("Start Interview", "RegisteredAgentInterview", new { AgentID = item.AgentID })
                            </td>
                        }
                        else {
                            <td></td>
                        }



                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    <div style="text-align:center">
        @Html.PagedListPager(Model, pageNumber => Url.Action("CandidateAgents", new
        {
            pageNumber
        }))

    </div>
