﻿@using PagedList;

@using PagedList.Mvc;
@model IPagedList<JAdminInterface.Models.UCCEntities.sp_registered_agents_list_Result>


@{
    ViewBag.Title = "Applicant Agent";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<h2>Applicant Agents</h2>

<br />


<table class="table">
    <tr>
        <th>
            Agent ID
        </th>
        <th>
            Agent Name
        </th>
        <th>
            Phone
        <th>
            Email
        </th>

        <th>
            Interview Status
        </th>

        <th>
            Scheduled By
        </th>
        <th>
            Scheduled To
        </th>
        <th>
            Schedule Date
        </th>
        <th>

        </th>
        <th>

        </th>


    </tr>




    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentEmailAddress)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.InterviewStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledByUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledToUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleDate)
            </td>

            <td></td>

            <td>

                @if (item.InterviewStatus.Equals("Accepted") || item.InterviewStatus.Equals("Rejected"))
                {
                    @Html.ActionLink("View Interview", "ViewAgentInterview", new { AgentID = item.AgentID })
                }
                else if (item.InterviewStatus.Equals("Scheduled"))
                {
                    @Html.ActionLink("Reschedule Interview", "ScheduleAgentInterview", new { AgentID = item.AgentID })
                }
                else if (item.InterviewStatus.Equals("Initiated"))
                {
                    @Html.ActionLink("Schedule Interview", "ScheduleAgentInterview", new { AgentID = item.AgentID })
                }




            </td>
            @if (!item.InterviewStatus.Equals("Accepted") & !item.InterviewStatus.Equals("Rejected"))
            {
                <td>
                    @Html.ActionLink("Start Interview", "RegisteredAgentInterview", new { AgentID = item.AgentID })
                </td>
            }

        </tr>
    }

</table>


<div style="text-align:center">
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new
    {
        pageNumber
    }))

</div>