﻿

@model JAdminInterface.Models.UCCEntities.DEF_AGENT

@{
    ViewBag.Title = "RegisteredAgentInterview";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";

}

<h2>Agent Interview</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Agent Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobNo)
        </dd>



        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER1.GenderName)
        </dd>

        <dt>
            Nationality
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NATIONALITY1.Name)
        </dd>

        

    </dl>


</div>

<br /><br />

<div class="form-horizontal">
    @Html.Label("Interview status", new { @class = "control-label col-md-2" })
    @Html.Label(Model.AGENT_INTERVIEW.First().AGENT_INTERVIEW_STATUSES.InterviewStatusName, new { @class = "form-control" })

</div>


@using (Html.BeginForm("RegisteredAgentInterview", "RegisteredAgentsList", FormMethod.Post, new { id = "agentForm" }))
{
    @Html.AntiForgeryToken()



    <br /><br /><br />

    <div>

        <h4>Agent Skills</h4>
        @Html.HiddenFor(model => model.ID)
        <table class="table">
            <tr>
                <th>
                    Skill
                </th>
                <th>
                    Score
                </th>

            </tr>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @for (int i = 0; i < Model.AGENT_INTERVIEW.First().INTERVIEW_DETAILS.Count; i++)
            {
                <tr>
                    <td>
                        @Model.AGENT_INTERVIEW.First().INTERVIEW_DETAILS.ToList()[i].DEF_SKILLS.Name
                    </td>
                    <td>


                        <input id="@Model.AGENT_INTERVIEW.First().INTERVIEW_DETAILS.ToList()[i].SkillId" name="@Model.AGENT_INTERVIEW.First().INTERVIEW_DETAILS.ToList()[i].SkillId-score_text_box" class="form-control xyz" type="number" value=@Model.AGENT_INTERVIEW.First().INTERVIEW_DETAILS.ToList()[i].Score />
                        <span class="agentMSG-@Model.AGENT_INTERVIEW.First().INTERVIEW_DETAILS.ToList()[i].SkillId text-danger"></span>




                    </td>
                </tr>


            }


        </table>

        <div>
            <h4>Overall Evaluation</h4>

            <br />

            <div class="form-group">
                @Html.Label("Comments")
                @Html.TextArea("comments_text_area", @Model.AGENT_INTERVIEW.First().InterviewComments, new { @class = "form-control" })
            </div>


            @*

                @{var items = new List<SelectListItem>()
                {
                    new SelectListItem{ Text="Accepted", Value = "Accepted" },
                    new SelectListItem{ Text="Rejected", Value = "Rejected" },
                    new SelectListItem{ Text="Decide Later", Value = "In Progress" },
                };

                    }




                    <div class="form-group">
                        @Html.Label("Interview Status")
                        @Html.DropDownList("interview_status_droplist", items, new { @class = "form-control" })

                    </div>

            *@
            <div class="btn-group-lg">
                <div>
                    <input name="button" type="submit" value="Accepted" class="btn btn-success" />
                    <input name="button" type="submit" value="Rejected" class="btn btn-danger" />
                    <input name="button" type="submit" value="Save & Reschedule" class="btn btn-warning" />

                </div>

            </div>





        </div>
    </div>


}
