﻿@model JAdminInterface.Models.UCCViewModels.ScheduleInterviewViewModel

@{
    ViewBag.Title = "Schedule Agent Interview";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><b style="font-size:larger">Agent Details</b></div>

        <div class="panel-body">
            <br />
            <dl class="dl-horizontal">
                <dt>
                    Agent Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.agent.Name)
                </dd>

                <dt>
                    Mobile
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.agent.MobNo)
                </dd>



                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.agent.AspNetUser.Email)
                </dd>

                <dt>
                    Gender
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.agent.GENDER1.GenderName)
                </dd>

                <dt>
                    Nationality
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.agent.NATIONALITY1.Name)
                </dd>

            </dl>
        </div>
    </div>
</div>




@using (Html.BeginForm(Html.BeginForm("ScheduleAgentInterview", "RegisteredAgentsList", FormMethod.Post, new { id = "scheduleForm" })))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><b style="font-size:larger">Schedule Details</b></div>

        <div class="panel-body">

            <div class="form-horizontal">

                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.agent.ID)

                <div class="form-group">
                    @Html.Label("Schedule To User", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @{
                            var items = new List<SelectListItem>();


                            foreach (JAdminInterface.Models.UCCEntities.AspNetUser user in ViewBag.Users)
                            {

                                SelectListItem item = new SelectListItem { Text = user.Email, Value = user.Id };
                                items.Add(item);
                            }

                        }


                        @Html.DropDownList("ScheduleToUser", items, new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Schedule Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        <input class="form-control datepicker" name="ScheduleDate" type="text">

                        @Html.ValidationMessageFor(model => model.ScheduleDate, "", new { htmlAttributes = new { @class = "text-danger" } })
                    </div>




                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>

            </div>




        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")



}
