﻿@using PagedList;

@using PagedList.Mvc;
@model IPagedList<JAdminInterface.Models.UCCEntities.sp_in_training_agents_Result>

@{
    ViewBag.Title = "TrainingAgents";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b style="font-size:larger">In-Training Agents</b></div>

    <div class="panel-body">
        <!-- Table -->
        <table class="table table-striped">
            <thead>
                
                    <tr>
                        <th>
                            Agent ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>


                        <th>Action</th>
                    </tr>
                </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgentID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgentEmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgentPhoneNumber)
                            </td>

                            <td>
                                @Html.ActionLink("Interview Details", "ViewAgentInterview", new { AgentID = item.AgentID })
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
        </div>
    </div>


                <div style="text-align:center">
                    @Html.PagedListPager(Model, pageNumber => Url.Action("TrainingAgents", new
                    {
                        pageNumber
                    }))

                </div>