﻿@model JAdminInterface.Models.UCCEntities.AGENT_INTERVIEW


@{

    ViewBag.Title = "AgentInterview";
    Layout = "~/Views/ManageClient/ClientShared.cshtml";
}




<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b style="font-size:larger">Agent Interview Details</b></div>


    <div class="panel-body">
        
        <dl class="dl-horizontal" style="margin-top:5px">

            <dt>
                Agent Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEF_AGENT.Name)
            </dd>

            <dt>
                Interview By
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>

            <dt>
                Interview Creation Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                Interview Comments
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InterviewComments)
            </dd>

            <dt>
                Interview Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AGENT_INTERVIEW_STATUSES.InterviewStatusName)
            </dd>


        </dl>

    </div>
</div>

<br>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b style="font-size:larger">Evaluated Skills</b></div>

    <div class="panel-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Skill Name
                    </th>
                    <th>
                        Evaluation
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var interviewDetail in Model.INTERVIEW_DETAILS)
                {
                    <tr>
                        <td>
                            @interviewDetail.DEF_SKILLS.SkillDescRefID
                        </td>
                        <td>
                            @interviewDetail.Score
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>


<br>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b style="font-size:larger">Assigned Call Centers</b></div>

    <div class="panel-body">

        <table class="table table-striped">
            <thead>

                <tr>
                    <th>
                        DID
                    </th>
                    <th>
                        Industry
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Training Status
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var call_center in Model.INTERVIEW_AGENT_CALL_CENTERS)
                {
                    <tr>
                        <td>
                            @call_center.DEF_CC.DID
                        </td>
                        <td>
                            @call_center.DEF_CC.Name
                        </td>
                        <td>
                            @call_center.DEF_CC.DEF_CUSTOMERS.Name
                        </td>
                        <td>
                            @call_center.TRAINING_STATUS.Name
                        </td>


                    </tr>

                }
            </tbody>
        </table>
    </div>



</div>

