﻿@{
    ViewBag.Title = "Admin Home Page";
}

<div class="lead" style="margin-top:150px;align-content:center">
    <h1>Administrator Actions</h1>
</div>

<div class="row"  style="margin-top:50px">


    <div class="col-sm-3  col-xs-6 ">
        <div class="AdminWelcomeTile lg">
            <a href="~/ManageClient/ManageClientHome"><img src="~/Content/themes/base/images/admin_home/manage-clients.png" title="Manage Clients" class="img-responsive center-block AdminTileImg" /></a>
            <div class="img_title one">
                Manage Clients
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class="AdminWelcomeTile">
            <a href="~/RegisteredAgentsList/CandidateAgents"><img src="~/Content/themes/base/images/admin_home/manage-agents.png" title="Manage Agents" class="img-responsive center-block AdminTileImg" /></a>
            <div class="img_title two">
                Manage Agents
            </div>
        </div>
    </div>

    <div class="col-sm-3  col-xs-6">
        <div class="AdminWelcomeTile">
            <a href="~/RegisteredAgentsList/TrainingAgents"><img src="~/Content/themes/base/images/admin_home/configurations.png" title="Configurations" class="img-responsive center-block AdminTileImg" /></a>
            <div class="img_title three">
                Configurations
            </div>
        </div>
    </div>

    
</div>